{{#> app}}
  <section class="py-2 bg-default">
  <div class="container text-dark">
    <div class="row mb-0">
      <div class="col-sm d-flex align-items-center">
        <div class="row py-3">
          <span class="mt-3">
            <p class="my-0">
              Equipe
            </p>
            <h1 class="fw-bold">
              {{ viewData.equipe.nome }}
            </h1>
          </span>
          <p class="my-2">
            {{ viewData.equipe.descricao }}
          </p>
        </div>
      </div>
    </div>
  </div>
 </section>
{{/app}}